/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar 
{
    background-color: green;
   
}
.navbar-brand
{
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 800;
}
.navbar img{
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.btn
{
    color: aliceblue;
    border-color: aliceblue;
    border-width: 3px;
    border-radius: 10px;
}
.btn:hover
{
    color: green;
    background-color: #fff;
}
#navbar
{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 5px 5px;    
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
}
#navbarSupportedContent
{
    color: #fff;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover
{
    border-bottom: 2px solid white;
}
section
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}
#home
{
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;

}
#home h1
{
   
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px green,0px 2px 0px wheat,0px 3px 0px green,
    0px 4px 0px white,0px 5px 0px green,0px 6px 0px white;
}
#home p
{
    font-size: 20px;
    font-weight: 800;
}
#home .input-group
{
    width: 40%;
    height: 45px;
    
}
#home .form-control
{
    border-color: black;
}
#home .signin

{
    border-color: black;
    border-radius: 0%;
    border-width: 1px;
    color: green;
}
#home .signin:hover
{
    background-color: green;
    color: #fff;
}
#contact 
{
   
    background-image: url(pawel-czerwinski--0xCCPIbl3M-unsplash.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#contact input
{
    background-color: transparent;
    margin: 10px;
    width: 200px;
}
#contact button
{
    margin-left: 10px;
}
#contact input::placeholder
{
    color: #fff;
}
#contact input[type=text]
{
    color: #fff;
}
#contact i 
{
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
   
}
/* ----------------------------------------login---------------------------------------- */
#login
{
    background-image: url(ophelie-authier-MtoudfurFlw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#login .log
{
    background-color:transparent;
    color: black;
    border-radius: 10px;
    padding: 10px;
}
#login .log:hover
{
    background-color:white;
    color: green;
}
#login .log{
    margin-bottom: 100px;
}